body{
  overflow: auto;
}



/* Create two equal columns that floats next to each other */
.column {
  background-color:#F5F2E9;
  border: 2px solid #E7CF7F;
  float: left;
  width: 49.30%;
  border-bottom: none;
}

.iframe{
  border: 2px solid #E7CF7F;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}


#search{
  position: fixed;
  width: 100%;
  top: 7%;
  margin: 0%;

}

#resultado-mapa{
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;

}

#resultados{
  margin-left: 10%;
  padding: 5%;
  padding-top: 2%;
  margin-top: 22%;
  overflow: scroll;
  height: 20%;
  

}

.mapa{
  border-left: 2px solid #E7CF7F;
  position: fixed;
  z-index:0;
  width: 53%;
  height: 20%;
  margin-top: 10.10%;

  margin-left: -1px;
  margin-bottom: 10.10%;
}

.columna {
  float: left;
  width: 47%;
  margin-top: 2%;
  margin-left: 2%;
}

/* Remove extra left and right margins, due to padding in columns */
.fila {margin: 0 -5px;}

/* Clear floats after the columns */
.fila:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.tarjeta {

  box-shadow: 0 4px 8px 0 rgba(245, 146, 135, 0.8); /* this adds the "card" effect */
  padding: 20px;
  text-align: center;
  background-color: #f1f1f1 ;
}
.tarjeta img{
  width:100%
}