{% extends "base.html" %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/public/css/restauranteSingle.css">
<link rel="stylesheet" href="/public/css/platoSingle.css">
<link rel="stylesheet" href="/public/css/comentarios.css">
<script src="/public/script/tabs.js"></script>
<script src="/public/script/modal.js"></script>

{% endblock %}
{% block title %}{{ datos.OneSitio[0].nombre }}{% endblock %}
{% block header %}
 
{% endblock %}

{% block main %}

  <div class="encabezado">
    
    <div class="slideshow-container">
      <!-- Full-width images with number and caption text -->
      <div class="diapositiva fade">
        <div class="numbertext"></div>
        <img src="public/res/place.jpg" >
      </div>
      <div class="diapositiva fade">
        <div class="numbertext"></div>
        <img src="public/res/home-banner-1.jpg" >
      </div>
      <div class="diapositiva fade">
        <div class="numbertext"></div>
        <img src="public/res/home-banner-1.jpg">
      </div>
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    
    <div class="nombre-block">
      <h3>{{ datos.OneSitio[0].nombre }}</h3>
    </div>
  </div>
  <div class="info">
    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks active" onclick="openTab(event, 'Descripcion')"> <i class="fa fa-home">Descripcion</i></button>
      <button class="tablinks " onclick="openTab(event, 'Ubicacion')"><i class="fa fa-map-marker">Localizacion</i></button>
      <button class="tablinks" onclick="openTab(event, 'Platos')"><i class="fa fa-cutlery">Platos</i></button>
      <button class="tablinks" onclick="openTab(event, 'Equipo')"><i class="fa fa-users">Conoce al Equipo</i></button>
      <button class="tablinks" onclick="openTab(event, 'Valoracion')"><i class="fa fa-star">Valoracion y Opiniones</i></button>
    </div>
    
    <!-- Tab content Descripcion-->
    <div id="Descripcion" class="tabcontent active" style="display:block;">
            <article class=" infoBasica">
                  <section >
                      <h3>Descripcion</h3><hr class="separador">
                      <p>{{ datos.OneSitio[0].descripcion }}El Restaurante Gastro-taberna
                        Bisbe, está en Valencia en la Plaza del Arzobispo, 6 una de las zonas
                        más bonitas y emblemáticas en el casco viejo de la ciudad. El Restaurante
                        propiedad de Juan Carlos, responsable del conocido restaurante Abadía D’Espí. 
                        La Gastro-taberna Bisbe, dirigida con maestría es una buena opción para salir a comer
                        o cenar, tanto en pareja como con amigos y probar una cocina de calidad. En Bisbe, 
                        uno queda más que satisfecho con el buen hacer de los profesionales que están al
                        cargo de los fogones,podemos encontrar las Puntitas (los extremos del pan) rellenas
                        siempre de algo con lo que continuamente nos están sorprendiendo, sus bravas, pescaito
                        planchao… gin-tonics… todo realizado con acierto, con una estupenda relación calidad
                        precio, disponen de una amplia bodega para siempre acompañar los platos con el caldo
                        adecuado. Aunque en Bisbe, cualquier cosa que se pida es acierto seguro, si no sabes
                        que pedir déjate aconsejar por su personal, siempre miman y cuidan mucho a los clientes,
                        es una muy buena opción para comer en Valencia.</p>
                  </section>              
                  <section >
                    <h3>Contacto</h3><hr class="separador">              
                      <dl class="detalles">
                        <dt>Direccion</dt>
                        <dd>calle falsa 123</dd>
                        <dt>Ubicacion</dt>
                        <dd>calle falsa 123{{ datos.infoBasica.ubicacion }}</dd>
                        <dt>Horario</dt>
                        <dd>calle falsa 123{{ datos.infoBasica.horario }}</dd>
                        <dt>Telefono</dt>
                        <dd class="ultimo">calle falsa 123{{ datos.infoBasica.telefono }}</dd>
                      </dl>
                  </section>              
            </article>
      </div>

    <!-- Tab content Ubicacion-->
    <div id="Ubicacion" class="tabcontent noactive">
    
      <div class="mapa">
          <iframe class="iframe"  src="https://www.openstreetmap.org/export/embed.html?bbox=-59.319992065429695%2C-35.02085912032271%2C-59.25424575805664%2C-34.98078374541327;marker=-35.000823886348606%2C-59.287118911743164"></iframe>
          
      </div>
    </div>
    <!-- Tab content Platos-->
    <div id="Platos" class="tabcontent noactive">
      
      <div class="fila">
        <div class="plato">
          <button onclick="openModal()" id="boton-modal" class="carta">
            <section>
              <img src="/public/res/2.jpg" alt="Denim Jeans" >
            </section>
            <section class="plato-text">
              <h3>Cardaaaaa 2</h3>
              <p>Some text</p>
              <p>Some text</p>
            </section>
          </button>
        </div>
        <div class="plato">
          <button  onclick="openModal()" id="boton-modal" class="carta">
            <section>
              <img src="/public/res/1.jpg" alt="Denim Jeans" >
            </section>
            <section class="plato-text">
              <h3>Card 2</h3>
              <p>Some text</p>
              <p>Some text</p>
            </section>
          </button>
        </div>  
      </div>

      
    </div>
    <!-- Tab content Equipo-->
    <div id="Equipo" class="tabcontent noactive">
      <h3>Conoce al Equipo</h3>
      <div class="fila">
        <div class="perfil">
          <button id="myBtn3" class="myBtn2">
            <div>
              <img src="/public/res/team2.jpg" alt="Denim Jeans" style="width:100%">
            </div>
            <div class="plates-text">
              <h3>John Doe</h3>
              <p>CEO & Founder</p>
            </div>
          </button>
        </div>
        <div class="perfil">
          <button id="myBtn3" class="myBtn2">
            <div>
              <img src="/public/res/team2.jpg" alt="Denim Jeans" style="width:100%">
            </div>
            <div class="plates-text">
              <h3>John Doe</h3>
              <p>Encargado</p>
            </div>
          </button>
        </div>
        <div class="perfil">
          <button id="myBtn3" class="myBtn2">
            <div>
              <img src="/public/res/team2.jpg" alt="Denim Jeans" style="width:100%">
            </div>
            <div class="plates-text">
              <h3>John Doe</h3>
              <p>Chef</p>
            </div>
          </button>
        </div>
      
    </div>
    </div>
    <!-- Tab content Valoracion-->
    <div id="Valoracion" class="tabcontent noactive">
      <h3>Valoracion </h3><hr class="separador">
     
<div class="row">
  <div>
  <div class="side">
    <div>Precio</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side right">
    <div>150</div>
  </div>
</div>
  <div class="side">
    <div>Sabor</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div>63</div>
  </div>
  <div class="side">
    <div>Ambiente</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side right">
    <div>15</div>
  </div>
  
</div>

        <h3>Comentarios </h3><hr class="separador">
        <ul class="lista-coment">
          <li class="comentario">
              <img class="coment-img" src="/public/res/team2.jpg" alt="Denim Jeans" >
              <h4 class="coment-nombre">John Doe</h4>
              <ul class="valoracion">
                <li> <h2>Precio</h2>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </li>
                <li>
                <h2>Sabor</h2>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </li>
                <li>
                <h2>Ambiente</h2>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </li>
              </ul>
              <p class="coment-text">mediante el atributo size podemos definir el tamaño
                 de la caja. Es decir, la apariencia de la misma. Si el texto que vamos 
                 a escribir no cabe en la caja, éste se desplazará pero sin que la caja
                 varíe su tamaño. El texto irá desapareciendo por la izquierda.
                 mediante el atributo size podemos definir el tamaño
                 de la caja. Es decir, la apariencia de la misma. Si el texto que vamos 
                 a escribir no cabe en la caja, éste se desplazará pero sin que la caja
                 varíe su tamaño. El texto irá desapareciendo por la izquierda.</p>
          </li>
          <li class="comentario">
            <img class="coment-img" src="/public/res/team2.jpg" alt="Denim Jeans" >
            <h4 class="coment-nombre">John Doe</h4>
            <ul class="valoracion">
              <li> <h2>Precio</h2>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </li>
              <li>
              <h2>Sabor</h2>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </li>
              <li>
              <h2>Ambiente</h2>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </li>
            </ul>
            <p class="coment-text">mediante el atributo size podemos definir el tamaño
               de la caja. Es decir, la apariencia de la misma. Si el texto que vamos 
               a escribir no cabe en la caja, éste se desplazará pero sin que la caja
               varíe su tamaño. El texto irá desapareciendo por la izquierda.
               mediante el atributo size podemos definir el tamaño
               de la caja. Es decir, la apariencia de la misma. Si el texto que vamos 
               a escribir no cabe en la caja, éste se desplazará pero sin que la caja
               varíe su tamaño. El texto irá desapareciendo por la izquierda.</p>
          </li>
          <li class="comentario">
          <img class="coment-img" src="/public/res/team2.jpg" alt="Denim Jeans" >
          <h4 class="coment-nombre">John Doe</h4>
          <ul class="valoracion">
            <li> 
              <h2>Precio</h2>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </li>
            <li>
              <h2>Sabor</h2>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </li>
            <li>
              <h2>Ambiente</h2>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </li>
          </ul>
          <p class="coment-text">mediante el atributo size podemos definir el tamaño
             de la caja. Es decir, la apariencia de la misma. Si el texto que vamos 
             a escribir no cabe en la caja, éste se desplazará pero sin que la caja
             varíe su tamaño. El texto irá desapareciendo por la izquierda.
             mediante el atributo size podemos definir el tamaño
             de la caja. Es decir, la apariencia de la misma. Si el texto que vamos 
             a escribir no cabe en la caja, éste se desplazará pero sin que la caja
             varíe su tamaño. El texto irá desapareciendo por la izquierda.</p>
          </li>
          <li class="comentario">
        <img class="coment-img" src="/public/res/team2.jpg" alt="Denim Jeans" >
        <h4 class="coment-nombre">John Doe</h4>
        <ul class="valoracion">
          <li> <h2>Precio</h2>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </li>
          <li>
          <h2>Sabor</h2>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </li>
          <li>
          <h2>Ambiente</h2>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </li>
        </ul>
        <p class="coment-text">mediante el atributo size podemos definir el tamaño
           de la caja. Es decir, la apariencia de la misma. Si el texto que vamos 
           a escribir no cabe en la caja, éste se desplazará pero sin que la caja
           varíe su tamaño. El texto irá desapareciendo por la izquierda.
           mediante el atributo size podemos definir el tamaño
           de la caja. Es decir, la apariencia de la misma. Si el texto que vamos 
           a escribir no cabe en la caja, éste se desplazará pero sin que la caja
           varíe su tamaño. El texto irá desapareciendo por la izquierda.</p>
          </li>
        </ul>
      <form method="post" action="sendcomment.php" class="deja-comentario">
        <h3>¡Deja un comentario!</h3>
        <input type="text" name="NAME" value="" size="20" maxlength="20" placeholder="Nombre (requerido)" required />     
        <input type="text" name="EMAIL" value="" size="20" maxlength="20" placeholder="Correo electrónico" />
        <textarea name="COMMENT" rows="10" cols="50" wrap="soft" placeholder="Máximo 1000 carácteres" maxlength="1000" required></textarea>
        <ul class="valoracion2">
          
          <li> <h2>Precio</h2>
            <p class="clasificacion">
              <input id="radio1" type="radio" name="estrellas" value="5"><!--
              --><label for="radio1">★</label><!--
              --><input id="radio2" type="radio" name="estrellas" value="4"><!--
              --><label for="radio2">★</label><!--
              --><input id="radio3" type="radio" name="estrellas" value="3"><!--
              --><label for="radio3">★</label><!--
              --><input id="radio4" type="radio" name="estrellas" value="2"><!--
              --><label for="radio4">★</label><!--
              --><input id="radio5" type="radio" name="estrellas" value="1"><!--
              --><label for="radio5">★</label>
            </p>
          </li>
          <li>
          <h2>Sabor</h2>
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="5"><!--
            --><label for="radio1">★</label><!--
            --><input id="radio2" type="radio" name="estrellas" value="4"><!--
            --><label for="radio2">★</label><!--
            --><input id="radio3" type="radio" name="estrellas" value="3"><!--
            --><label for="radio3">★</label><!--
            --><input id="radio4" type="radio" name="estrellas" value="2"><!--
            --><label for="radio4">★</label><!--
            --><input id="radio5" type="radio" name="estrellas" value="1"><!--
            --><label for="radio5">★</label>
          </p>
          </li>
          <li>
          <h2>Ambiente</h2>
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="5"><!--
            --><label for="radio1">★</label><!--
            --><input id="radio2" type="radio" name="estrellas" value="4"><!--
            --><label for="radio2">★</label><!--
            --><input id="radio3" type="radio" name="estrellas" value="3"><!--
            --><label for="radio3">★</label><!--
            --><input id="radio4" type="radio" name="estrellas" value="2"><!--
            --><label for="radio4">★</label><!--
            --><input id="radio5" type="radio" name="estrellas" value="1"><!--
            --><label for="radio5">★</label>
          </p>
          </li>
        </ul>

        <input type="submit" value="Enviar" name="Enviar" />
      </form>
    </div>
  </div>
  <!-- Tab content adicional-->
  <div class="adicional">
    <h4><i class=" fa fa-briefcase "></i>Caracteristicas</h4>
    <ul class="fa-ul caract"> 
      <li><i class=" fa fa-wifi enable"></i>WI-FI</li>
      <li><i class=" fa fa-wheelchair enable"></i>Acceso Personas con Discapacidad</li>
      <li><i class=" fa fa-snowflake-o enable"></i>Aire Acondicionado</li>
      <li><i class=" fa fa-car enable"></i>Estacionamiento</li>
      <li><i class=" fa fa-television enable"></i>TV</li>
      <li><i class=" fa fa-child disable"></i>Juegos para niños</li>
       
    </ul>
  </div>


<!-- The Modal for plato -->
<div id="plato" class="modal-plato" >
  <!-- Modal Content for plato-->
    <div class="modal-content-plate animate">
      <article class=" infoBasica">
        <span onclick="closeModal()" class="closeModal" title="Close Modal">&times;</span>
        <section class="title-plato">
          <h3>Una lasagna de la concha de la madre</h3>
          <hr class="separador">      
        </section>
        <section class="descrip">
          <img src="/public/res/2.jpg" alt="Denim Jeans" >
                <h3>Descripcion</h3>
                  <p>{{ datos.OneSitio[0].descripcion }}Se trata de un plato que tiene pasta en
                    láminas intercaladas con distintos ingredientes (carnes, verduras, pescados)
                    y que se elabora con bechamel y abundante queso rallado para gratinarla al
                    horno. La palabra “lasaña” proviene del griego “lasanon“, a través del 
                    latín “lasanum“, que se refiere al cazo en el que se cocinaba. El propio 
                    Cicerón menciona su pasión por el “Laganum”, que eran tiras de pasta largas. 
                    Según los datos que nos han llegado, es muy posible que en esta época los 
                    italianos desarrollaran las máquinas para elaborar la pasta de lasaña.</p>
        </section>    
        <section class="infonut">
            <h3>Informacion Nutricional</h3><hr class="separador">
            <dl class="caracteristicas">
              <dt>Peso</dt>
                <dd>calle falsa 123</dd>
              <dt>Energia</dt>
                <dd>calle falsa 123{{ datos.infoBasica.ubicacion }}</dd>
              <dt>Carbohidratos</dt>
                <dd>calle falsa 123{{ datos.infoBasica.horario }}</dd>
              <dt>Proteina</dt>
                <dd>calle falsa 123{{ datos.infoBasica.horario }}</dd>
              <dt>Grasas Totales</dt>
                <dd>calle falsa 123{{ datos.infoBasica.horario }}</dd>
              <dt>Sodio</dt>
                <dd class="ultimo">calle falsa 123{{ datos.infoBasica.telefono }}</dd>
            </dl>
        </section>
       
        <section class="contiene">
          <h3>Contiene</h3><hr class="separador">
            <ul class="datos">
                <li><img src="/public/svg/leche.svg" alt="Lacteos" ></li>
                <li><img src="/public/svg/gluten.svg" alt="Gluten" ></li>
                <li><img src="/public/svg/chile.svg" alt="Picante" ></li>
                <li><img src="/public/svg/tomate.svg" alt="Vegano" ></li>
                <li><img src="/public/svg/sugar.svg" alt="Azucar" ></li>
                <li><img src="/public/svg/dietetico.svg" alt="Sal" ></li>
            </ul>
      </section>    
        
      </article>
    </div>
</div>

<!-- The Modal for plato  -->

<!--lacteox -->
<!--tacc x-->
<!--picantex -->
<!--veganox -->
<!--azucarx -->
<!--sodiox -->
<!--The Modal for plato -->
{% endblock %}
