{% extends "base.html" %}

{% block title %}Inicio{% endblock %}



{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/search-bar.css">
    <link rel="stylesheet" href="/public/css/resultados.css">
    <script src="/public/script/carusel.js"></script>
{% endblock %}

{% block main %}


<!-- Slideshow container -->
<div class="slideshow-container index">
    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="public/res/place.jpg" >
    </div>
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="public/res/home-banner-1.jpg" >
    </div>
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="public/res/home-banner-1.jpg" >
    </div>
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- search  module-->
<div >
  <section id="search">
    {{ include('partials/search-bar.html') }}
  </section>

<div class="slideshow-places">
  <h3> Restaurantes Destacados</h3>
  <div class="fila">
    <div class="columna">
      <div class="tarjeta">
        <div>
          <img src="/public/res/jeans3.jpg" alt="Denim Jeans">
        </div>
        <div class="plates-text" >
          <a href="/resto?Sitio=1"><h3>Card 2</h3></a>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>
    <div class="columna">
      <div class="tarjeta">
        <div>
          <img src="/public/res/jeans3.jpg" alt="Denim Jeans" >
        </div>
        <div class="plates-text">
          <a href="https://example.com"><h3>Card 2</h3></a>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>
    <div class="columna">
      <div class="tarjeta">
        <div>
          <img src="/public/res/jeans3.jpg" alt="Denim Jeans">
        </div>
        <div class="plates-text">
          <a href="https://example.com"><h3>Card 2</h3></a>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>
    <div class="columna">
      <div class="tarjeta">
        <div>
          <img src="/public/res/jeans3.jpg" alt="Denim Jeans" >
        </div>
        <div class="plates-text">
          <a href="https://example.com"><h3>Card 2</h3></a>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>

  </div>
  
</div>
 


{% endblock %}

