{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
    <link rel="stylesheet" href="/public/css/index.css">
{% endblock %}

{% block main %}


<!-- Slideshow container -->
<div class="slideshow-container index">
    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="public/res/place.jpg" >
    </div>
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="public/res/home-banner-1.jpg" >
    </div>
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="public/res/home-banner-1.jpg" >
    </div>
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- search  module-->
<div >
<form class="barra-busqueda" action="/action_page.php">  
  <h3>Encuentra al mejor restaurante para ti</h3>
      <input class="palabraClave"type="text" placeholder="Palabra Clave" name="clave" required>
      
        <select  class="selectClave">
          <option value="0">Selecionar Categoria:</option>
          <option value="1">Audi</option>
          <option value="2">BMW</option>
          <option value="3">Citroen</option>
          <option value="4">Ford</option>
          <option value="5">Honda</option>
          <option value="6">Jaguar</option>
          <option value="7">Land Rover</option>
          <option value="8">Mercedes</option>
          <option value="9">Mini</option>
          <option value="10">Nissan</option>
          <option value="11">Toyota</option>
          <option value="12">Volvo</option>
        </select>
        <select class="selectClave">
          <option value="0">Selecionar Ubicación:</option>
          <option value="1">Audi</option>
          <option value="2">BMW</option>
          <option value="3">Citroen</option>
          <option value="4">Ford</option>
          <option value="5">Honda</option>
          <option value="6">Jaguar</option>
          <option value="7">Land Rover</option>
          <option value="8">Mercedes</option>
          <option value="9">Mini</option>
          <option value="10">Nissan</option>
          <option value="11">Toyota</option>
          <option value="12">Volvo</option>
        </select>

      <button type="submit">BUSCAR</button>

  </form>

<div class="slideshow-places">
  <h3> Restaurantes Destacados</h3>
  <div class="fila">
    <div class="columna">
      <div class="tarjeta">
        <div>
          <img src="/public/res/jeans3.jpg" alt="Denim Jeans">
        </div>
        <div class="plates-text" >
          <a href="/resto?idSitio=1"><h3>Card 2</h3></a>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>
    <div class="columna">
      <div class="tarjeta">
        <div>
          <img src="/public/res/jeans3.jpg" alt="Denim Jeans" >
        </div>
        <div class="plates-text">
          <a href="https://example.com"><h3>Card 2</h3></a>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>
    <div class="columna">
      <div class="tarjeta">
        <div>
          <img src="/public/res/jeans3.jpg" alt="Denim Jeans">
        </div>
        <div class="plates-text">
          <a href="https://example.com"><h3>Card 2</h3></a>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>
    <div class="columna">
      <div class="tarjeta">
        <div>
          <img src="/public/res/jeans3.jpg" alt="Denim Jeans" >
        </div>
        <div class="plates-text">
          <a href="https://example.com"><h3>Card 2</h3></a>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>

  </div>
  
</div>
 

{% endblock %}

