{% extends "base.html" %}

{% block title %}Iniciosad{% endblock %}

{% block header %}

    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<h1>La Guia Gourmet</h1>

<!-- Slideshow container -->
<div class="row slideshow-container">
                   
    {% for pedido in datos.todosPedidos %}
    <div class="mySlides fade{{active}}">
      <img src="{{ datos.imagen }}" style="width:100%">
    </div> 
    {% else %} 
    <h2 class='error'>No hay imagen </h2>
    {% endfor %}
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div> 
{% endblock %}

